{% load static %}
<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Subir archivos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
  </head>
  <body>
    <!-- navbar -->
    <div class="container-fluid">
      <nav class="navbar fixed-top navbar-expand-md navbar-light darkgreen-color">
        <div class="container-fluid ">
          <a href="{% url 'index'%}" class="navbar-brand white-text">
            <img class="img-fluid mx-auto d-block logo" src="{% static 'img/Logo2.png' %}">
          </a>
          <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
              {{user.username}}
              <li class="nav-item">
                <button type="button" class="btn btn-outline-light white-text">
                  Mi Cuenta
                </button>
              </li>
            {% else %}
            <li class="nav-item">
              <button type="button" class="btn btn-outline-light white-text" onclick="location.href='{% url 'registro'%}'">
                Registrarse
              </button>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-outline-light white-text" onclick="location.href='{% url 'login'%}'">
                Iniciar Sesión
              </button>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </div>
    <!-- navbar end -->

    <!-- Documentos -->
    <p class="title">Sube tus documentos.</p>

    <!-- Acta de nacimiento -->
    <div class="card margin-lr-20 space">
      <h5 class="card-header darkgreen-color text-white">Acta de nacimiento</h5>
      <div class="card-body grey-color">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <!-- Acta de nacimiento -->

    <!-- Identificación oficial -->
    <div class="card margin-lr-20 space">
      <h5 class="card-header darkgreen-color text-white">Identificación oficial</h5>
      <div class="card-body grey-color">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <!-- Identificación oficial -->

    <!-- Comprobante de domicilio -->
    <div class="card margin-lr-20 space">
      <h5 class="card-header darkgreen-color text-white">Comprobante de domicilio</h5>
      <div class="card-body grey-color">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <!-- Comprobante de domicilio -->

    <!-- Pasaporte anterior -->
    <div class="card margin-lr-20 space">
      <h5 class="card-header darkgreen-color text-white">Pasaporte anterior</h5>
      <div class="card-body grey-color">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <!-- Pasaporte anterior -->

    <!-- Pago de derechos -->
    <div class="card margin-lr-20 space">
      <h5 class="card-header darkgreen-color text-white">Pago de derechos</h5>
      <div class="card-body grey-color">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <!-- Pago de derechos -->


    <!-- Documentos end -->

    <div class="container-fluid">

    </div>
  </body>

  <!-- JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</html>
