{% load static %}
<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Trámite internacional nacional</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
  </head>
  <body>
    <!-- navbar -->
    <div class="container-fluid">
      <nav class="navbar fixed-top navbar-expand-md navbar-light darkgreen-color">
        <div class="container-fluid ">
          <a href="{% url 'index'%}" class="navbar-brand white-text">
            <img class="img-fluid mx-auto d-block logo" src="{% static 'img/Logo2.png' %}">
          </a>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <button type="button" class="btn btn-outline-light white-text" onclick="location.href='{% url 'registro'%}'">
                Registrarse
              </button>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-outline-light white-text" onclick="location.href='{% url 'login'%}'">
                Iniciar Sesión
              </button>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- navbar end -->
    <p class="h3 mt-5 mb-5 ms-4">Trámite para ciudadanos fuera del país</p>
    <!-- Tab -->
    <div class="container">
      <ul class="nav nav-tabs">
        <li class="nav-item"><a href="#mayores" class="nav-link active" data-bs-toggle="tab">Mayores de edad</a></li>
        <li class="nav-item"><a href="#menores" class="nav-link" data-bs-toggle="tab">Menores de edad</a></li>
        <li class="nav-item"><a href="#mayores-discapacitados" class="nav-link" data-bs-toggle="tab">Mayores de 60 años o personas con discapacidad</a></li>
      </ul>

      <!-- Tab -->
      <div class="tab-content border border-dark rounded-bottom grey-color">
        <!-- tab mayores -->
        <div class="tab-pane active" id="mayores">
          <h4 class="ms-2 mt-4">Solicitud por primera vez</h4>
          <p class="ms-2 mt-4 mb-4">¿Quieres viajar y necesitas tu pasaporte?
            El pasaporte es el documento oficial de viaje que necesita una
            persona que desea viajar fuera del país. Este documento solicita
            a las autoridades extranjeras permitan el libre paso, proporcionen
            ayuda y protección. Es reconocido por los países miembros de la
            Organización de Aeronáutica Civil Internacional (OACI), líneas
            aéreas y las autoridades mexicanas y extranjeras como un documento
            de viaje. Además, es probatorio de nacionalidad e identidad, lo que
            le confiere certeza jurídica a su titular.</p>

          <p class="ms-2 mt-4 mb-4">Se expide a personas mayores de edad con
            vigencia de tres o seis años en las Oficinas Consulares de México
            en el exterior y con vigencia de un año únicamente en casos de
            protección consular.</p>
          <h5 class="ms-2 mt-2 mb-4">Documentos necesarios</h4>

          <!-- Tabla de documentos -->
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Documento requerido</th>
                <th scope="col">Presentación</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" class="w-75">Solicitud de pasaporte ordinario
                  mexicano en las Oficinas Consulares (OP-5)</th>
                <td>Original</td>
              </tr>
              <tr>
                <th scope="row">Acta de nacimiento expedida por la Oficina del
                  Registro Civil mexicano u Oficina Consular mexicana</th>
                <td>Original</td>
              </tr>
              <tr>
                <th scope="row">Credencial para votar expedida por el Instituto
                  Nacional Electoral (INE)</th>
                <td>Original</td>
              </tr>
            </tbody>
          </table>


          <!-- Tabla de documentos end -->

          <h3 class="ms-2 mt-5">Costos :</h3>

          <!-- Tabla de costos -->

          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Concepto</th>
                <th scope="col">Monto</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Pasaporte con validez de diez años</th>
                <td>$181.00 usd</td>
              </tr>
              <tr>
                <th scope="row">Pasaporte con validez de seis años</th>
                <td>$120.00 usd</td>
              </tr>
              <tr>
                <th scope="row">Pasaporte con validez de tres años</th>
                <td>$88.00 usd</td>
              </tr>
              <tr>
                <th scope="row">Pasaporte con validez de un año
                  (sólo casos de protección consular)</th>
                <td>$38.00 usd</td>
              </tr>
            </tbody>
          </table>

          <!-- Tabla de costos end -->

        </div>
        <!-- tab mayores end -->

        <!-- Tab menores -->
        <div class="tab-pane" id="menores">
          <h4 class="ms-2 mt-4">Solicitud por primera vez</h4>
          <p class="mt-4 ms-2 mb-4">¿Quieres viajar y necesitas tu pasaporte?
            El pasaporte es el documento oficial de viaje que necesita una
            persona que desea viajar fuera del país. Este documento solicita a
            las autoridades extranjeras permitan el libre paso, proporcionen
            ayuda y protección. Es reconocido por los países miembros de la
            Organización de Aeronáutica Civil Internacional (OACI), líneas
            aéreas y las autoridades mexicanas y extranjeras como un documento
            de viaje. Además, es probatorio de nacionalidad e identidad,
            lo que le confiere certeza jurídica a su titular.</p>
          <p class="mt-4 ms-2 mb-4">El pasaporte para menores de tres años de
            edad se expide con vigencia de uno o tres años y para mexicanos
            mayores de tres años y menores de dieciocho se expide con vigencia
            de tres o seis años en las Oficinas Consulares de México en el
            exterior.</p>
            <h5 class="ms-2 mt-2 mb-4">Documentos necesarios</h5>
            <!-- Documentos -->
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Documento requerido</th>
                  <th scope="col">Presentación</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row" class="w-75">Solicitud de pasaporte
                    ordinario mexicano en las Oficinas Consulares (OP-5)</th>
                  <td>Original</td>
                </tr>
                <tr>
                  <th scope="row"  class="w-75">Copia certificada del Acta de
                    nacimiento expedida por la Oficina del Registro Civil
                    mexicano u Oficina Consular mexicana del menor de edad</th>
                  <td>Original</td>
                </tr>
                <tr>
                  <th scope="row"  class="w-75">Identificación oficial vigente
                    con fotografía del menor de edad (en el caso de recién
                    nacidos y hasta los 7 años de edad, podrá presentarse
                    constancia médica con fotografía del menor y sello de la
                    institución médica reconocida por la Ley del lugar donde
                    se encuentra la Oficina Consular)</th>
                  <td>Original</td>
                </tr>
                <tr>
                  <th scope="row"  class="w-75">Identificación oficial vigente
                    con fotografía de cada uno de los padres o de las personas
                    que ejercen la patria potesta</th>
                  <td>Original</td>
                </tr>
                <tr>
                  <th scope="row"  class="w-75">Permiso que otorgan los padres,
                    quienes ejercen la patria potestad o tutela, para la
                    expedición de pasaporte a personas menores de edad en las
                    Oficinas Consulares (OP-7/I)</th>
                  <td>Original</td>
                </tr>
                <tr>
                  <th scope="row"  class="w-75">Permiso a distancia que otorgan
                    los padres, quienes ejercen la patria potestad o tutela,
                    para la expedición de pasaporte a personas menores de edad
                    (OP-7/II) (en los casos que corresponda)</th>
                  <td>Original</td>
                </tr>
                <tr>
                  <th scope="row"  class="w-75">Copia simple de la Clave Única
                    de Registro Población (CURP), certificada por el Registro
                    Civil, La cual puede ser consultada en la siguiente
                    dirección electrónica: https://www.gob.mx/curp/</th>
                  <td>Original</td>
                </tr>
              </tbody>
            </table>
            <!-- Documentos end -->

            <!-- Costos -->
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Concepto</th>
                  <th scope="col">Monto</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Pasaporte con validez de seis años</th>
                  <td>$120.00 usd</td>
                </tr>
                <tr>
                  <th scope="row">Pasaporte con validez de tres años</th>
                  <td>$88.00 usd</td>
                </tr>
                <tr>
                  <th scope="row">Pasaporte con validez de un año</th>
                  <td>$38.00 usd</td>
                </tr>
              </tbody>
            </table>
            <!-- Costos end -->
        </div>
        <!-- Tab menores end -->
        <div class="tab-pane" id="mayores-discapacitados">
          <h4 class="ms-2 mt-4">Solicitud por primera vez</h4>
          <p class="mt-4 ms-2 mb-4">¿Planeas viajar al extranjero con tu
            pupilo*? El pasaporte es un documento oficial de viaje, probatorio
            de nacionalidad e identidad, que solicita a las autoridades
            extranjeras proporcionen ayuda y protección.</h5>
            <p class="mt-4 ms-2 mb-4">* Pupilo es aquella persona que se encuentra sujeta a la tutela.</p>
            <!-- Documentos -->
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Documento requerido</th>
                  <th scope="col">Presentación</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row"  class="w-75">Copia certificada del acta de
                    nacimiento expedida por la oficina del Registro Civil
                    mexicano</th>
                  <td>Original</td>
                </tr>
                <tr>
                  <th scope="row"  class="w-75">Copia certificada del acta de
                    nacimiento expedida por las Oficinas Consulares</th>
                  <td>Original</td>
                </tr>
                <tr>
                  <th scope="row"  class="w-75">Carta de Naturalización</th>
                  <td>Original y copia</td>
                </tr>
                <tr>
                  <th scope="row"  class="w-75">Declaratoria de nacionalidad
                    mexicana por nacimiento</th>
                  <td>Original y copia</td>
                </tr>
                <tr>
                  <th scope="row"  class="w-75">Certificado de nacionalidad mexicana</th>
                  <td>Original y copia</td>
                </tr>
              </tbody>
            </table>
            <!-- Documentos end -->

            <h4 class="ms-2 mt-4 mb-4">Renovación</h4>

            <!-- Documentos renovacios -->
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Documento requerido</th>
                  <th scope="col">Presentación</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row"  class="w-75">Entregar el pasaporte a renovar acompañado de
                    una copia de la libreta de pasaporte (abierta) que contenga
                    la hoja de datos personales y el número de libreta; ambas
                    deberán ser impresas en el mismo frente de la copia</th>
                  <td>Original</td>
                </tr>
              </tbody>
            </table>
            <!-- Documentos renovación end -->

            <!-- Costos -->
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Concepto</th>
                  <th scope="col">Monto</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Monto de derechos 2022 para la expedición de
                    pasaporte con vigencia de 3 años </th>
                  <td>$1,470.00 mxn</td>
                </tr>
                <tr>
                  <th scope="row">Monto de derechos 2022 para la expedición de
                    pasaporte con vigencia de 6 años </th>
                  <td>$2,000.00 mxn</td>
                </tr>
                <tr>
                  <th scope="row">Monto de derechos 2022 para la expedición de
                    pasaporte con vigencia de 10 años </th>
                  <td>$3,505.00 mxn</td>
                </tr>
                <tr>
                  <th scope="row">Monto de derechos 2022 con beneficio del 50%
                    para la expedición de pasaporte con vigencia de 3 años </th>
                  <td>$735.00 mxn</td>
                </tr>
                <tr>
                  <th scope="row">Monto de derechos 2022 con beneficio del 50% para
                     la expedición de pasaporte con vigencia de 6 años </th>
                  <td>$1,000.00 mxn</td>
                </tr>
                <tr>
                  <th scope="row" class="w-75">Monto de derechos 2022 con beneficio del 50% para
                    la expedición de pasaporte con vigencia de 10 años </th>
                  <td>$1,755.00 mxn</td>
                </tr>
              </tbody>
            </table>
            <!-- Costos end -->
        </div>
      </div>

      <!-- Mayores de edad tab end-->
    </div>
    <!-- Tab end -->

    <div class="container">
      <div class="mt-4 ms-1 mb-4 me-1 rounded grey-color">
        <p class="ps-4 pt-4 pe-4 pb-4">El beneficio del 50% en los costos del pasaporte es aplicable a las
          personas mayores de 60 años, personas con discapacidad y trabajadores
          agrícolas temporales México-Canadá.
          Las personas con discapacidad deberán comprobarlo mediante la
          presentación de uno de los siguientes documentos:

          a) Original de la constancia o certificado médico expedido por alguna
          institución pública de salud o de seguridad social.

          b) Original y copia de la credencial nacional para personas con
          discapacidad expedida por el Sistema Nacional para el Desarrollo
          Integral de la Familia (DIF)
          En el caso de trabajadores agrícolas temporales, para que se haga
          efectivo el descuento deberán presentar la constancia en original,
          emitida por el Sistema Nacional de Empleo de la Secretaría del Trabajo
          y Previsión Social. Sólo será aplicable para pasaportes con una
          vigencia de 3 a 6 años.</p>
      </div>
    </div>
    <!-- Tabla de costos end -->
  </body>

  <!-- footer -->
  <footer class="text-center text-lg-start white-text darkgreen-color">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              Gobierno de México
            </h6>
            <p>
              Here you can use rows and columns to organize your footer
              content. Lorem ipsum dolor sit amet, consectetur adipisicing
              elit.
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Enlaces</h6>
            <p>
              <a class="footer-text">Datos</a>
            </p>
            <p>
              <a class="footer-text">Publicaciones</a>
            </p>
            <p>
              <a class="footer-text">Portal de oblicaciones de transparencia</a>
            </p>
            <p>
              <a class="footer-text">PNT</a>
            </p>
            <p>
              <a class="footer-text">INAI</a>
            </p>
            <p>
              <a class="footer-text">Alerta</a>
            </p>
            <p>
              <a class="footer-text">Denuncia</a>
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              ¿Qué es gob.mx?
            </h6>
            <p class="footer-text">
              Es el portal único de trámites, información y participación ciudadana.
              <a class="footer-text">Leer más</a>
            </p>
          </div>
          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <p>
              <a class="footer-text">Declaración de accesibilidad</a>
            </p>
            <p>
              <a class="footer-text">Aviso de privacidad</a>
            </p>
            <p>
              <a class="footer-text">Aviso de privacidad simplificado</a>
            </p>
            <p>
              <a class="footer-text">Términos y condiciones</a>
            </p>
            <p>
              <a class="footer-text">Política de seguridad</a>
            </p>
            <p>
              <a class="footer-text">Marco jurídico</a>
            </p>
            <p>
              <a class="footer-text">Mapa del sitio</a>
            </p>
          </div>
          <!-- Grid column -->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-3">

      <!-- Section: Copyright -->
      <section class="p-3 pt-0">
        <div class="row d-flex align-items-center">
          <!-- Grid column -->
          <div class="col-md-7 col-lg-8 text-center text-md-start">
            <!-- Copyright -->
            <div class="p-3">
              © 2022 Copyright:
              <a class="text-white" href="https://mdbootstrap.com/">UNAM</a>
            </div>
            <!-- Copyright -->
          </div>
        </div>
      </section>
      <!-- Section: Copyright -->
    </div>
    <!-- Grid container -->
  </footer>
  <!-- Footer -->

  <!-- JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</html>
